.orderContent{
    display: flex;
    box-sizing: border-box;
}

.orderContentTitle{
    font: normal 40px 'Roboto';
    color: #254F4C;
    display: flex;
    justify-content: center;
    margin-right: 750px;
    margin-top: 80px;
}

.orderContentInput{
    display: flex;
    justify-content: center;
}

.contentInput{
    max-width: 300px;
    border: 1px solid #d2d2d7;
    padding: 15px 230px 15px 15px;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 8px;
    margin-right: 5px;
    font-size: 15px;
    opacity: 80%;
}

.contentInput:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px #ebf1fa;
}

.productContent h3{
    font: normal 26px 'Roboto';
    color: #254F4C;
    display: flex;
    justify-content: center;
    margin-right: 900px;
}

.productTitle{
    display: flex;
    justify-content: center;
    gap: 90px;
}

.productTitle p{
    font: normal 16px 'Roboto';
    color: #1D3130;
}

.Line{
    color: #3B7976;
    max-width: 750px;
    border: 1px solid #3B7976;
    background-color: #3B7976;
}

.productOrder{
    display: flex;
    font: normal 20px 'Roboto';
    color: #254F4C;
    justify-content: center;
    gap: 70px;
    align-items: center;
    margin-right: 100px;
}

.productOrderImg{
    width: 100px;
}

.confirmOrderCard{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.confirmOrder{
    width: 300px;
    background-color: #254F4C;
    height: 500px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

.confirmOrder p{
    margin-top: 20px;
}

.confirmOrderTitle{
    font: normal 24px 'Roboto';
    color: #FFF;
}

.confirmOrder input{
    border: 1px solid transparent;
    padding: 15px 40px 15px 15px;
    border-radius: 5px;
    margin-right: 25px;
    font-size: 15px;
}

.confirmOrderTotal{
    font: normal 22px 'Roboto';
    color: #FFF;
}

.confirmOrderProduct{
    font: normal 18px 'Roboto';
    color: #FFF;
}

.confirmOrderPay{
    font: normal 18px 'Roboto';
    color: #FFF;
}

.confirmOrder span{
    font: normal 300 24px 'Roboto';
    color: #FFF;
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 40px;
}

.confirmOrderBtn{
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    background: #FF583E;
    border-radius: 3px;
    border: none;
    height: 30px;
    transition: 0.3s;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmOrderBtn:hover{
    transition: 0.3s;
    border-radius: 12px;
    background-color: #ff3615;
    box-shadow: 0px 0px 4px 0px #a1a1a1;
}

.confirmOrderText{
    font-family: 'Roboto';
    font-style: normal;
    color: #FFF;
}

.link{
    font-family: 'Roboto';
    font-style: normal;
    color: #5E8BCE;
    transition: 0.3s;
    text-decoration: none;
}

.link:hover{
    transition: 0.3s;
    color: #5E8BCE;
    text-decoration: underline;
}

.delivery{
    display: flex;
    justify-content: center;
    margin-right: 530px;
    margin-top: 20px;
}

.delivery h3{
    font: normal 24px 'Roboto';
    color: #254F4C;
    padding-bottom: 20px;
}

.deliveryLabel{
    border: 1px solid #d2d2d7;
    padding: 15px 230px 15px 15px;
    border-radius: 5px;
    transition: 0.3s;
    opacity: 80%;
    font: normal 16px 'Roboto';
    color: #000;
    margin-right: 5px;
}

.deliveryLabel:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px #ebf1fa;
}

.delivery select{
    border: 1px solid #d2d2d7;
    padding: 15px 230px 15px 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 5px;
    opacity: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.delivery input{
    border: 1px solid #d2d2d7;
    padding: 15px 230px 15px 15px;
    border-radius: 5px;
    margin-top: 10px;
    margin-right: 7px;
    opacity: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.payment{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.payment h3{
    font-family: 'Roboto';
    font-style: normal;
    font-style: normal;
    font-size: 24px;
    color: #254F4C;
    padding-bottom: 20px;
}

.paymentLabel{
    max-width: 350px;
    border: 1px solid #d2d2d7;
    padding: 15px 100px 15px 15px;
    border-radius: 5px;
    transition: 0.3s;
    margin-right: 5px;
    opacity: 80%;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    color: #000;
}

.paymentLabel:hover{
    transition: 0.3s;
    box-shadow: 2px 2px 2px 2px #ebf1fa;
}

.comment{
    display: flex;
    justify-content: center;
    margin-right: 130px;
    margin-top: 50px;
}

.comment h3{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 24px;
    color: #254F4C;
}

.commentText{
    border: 1px solid #D2D2D7;
    border-radius: 5px;
    height: 40px;
    padding: 25px 1000px 25px 25px;
}