.choiceBlock h2{
    font: normal 900 25px 'Roboto';
    color: #254F4C;
    display: flex;
    justify-content: center;
    margin-right: 800px;
}

.choiceCard{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.choiceCard h3{
    font: normal 700 20px 'Roboto';
    color: #254F4C;
    margin-bottom: 10px;
}

.choiceCard p{
    font: normal 400 14px 'Roboto';
    color: #1D3130;
    margin-top: 10px;
}

.choiceCard img{
    width: 88px;
    height: 88px;
    padding-left: 80px;
}
