footer{
    padding: 0;
    margin: 0;
    background: #254F4C;
    height: 158px;
    max-height: 200px;
}

.logoImg{
    display: flex;
    margin-right: 100px;
}

.navFooter ul{
    gap: 60px;
    font: normal 400 16px 'Roboto';
    line-height: 19px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 56px;
    margin-top: 88px;
}

.navFooter a{
    color: #FFFFFF;
    text-decoration: none;
}
