.mainMenu{
    display: flex;
    flex-direction: column;
}

.mainDesc{
    font: normal 900 36px 'Roboto';
    display: flex;
    align-items: center;
    color: #254F4C;
    padding: 70px 897px 0px 220px;
}

.desc{
    padding: 0px 897px 0px 220px;
    font: normal 400 16px 'Roboto';
}

.mainBtn{
    border-color: #FF583E;
    background: #FF583E;
    border-radius: 100px;
    font: normal 700 14px 'Roboto';
    width: 216px;
    height: 49px;
    margin-left: 210px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FF583E;
}

.btnImg{
    padding-left: 5px;
}

.mainImg{
    position: absolute;
    width: 659px;
    height: 455px;
    left: 741px;
    top: 112px;
}

