.mainMenu{
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 0;
    margin-top: 50px;
    margin-left: 140px;
}

.about_us{
    margin-top: 50px;
}

.mainDesc{
    font: normal 900 36px 'Roboto';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #254F4C;
    max-width: 400px;
}

.desc{
    display: flex;
    align-items: center;
    justify-content: center;
    font: normal 400 16px 'Roboto';
    max-width: 500px;
}

.mainBtn{
    border-color: #FF583E;
    background: #FF583E;
    border-radius: 100px;
    font: normal 700 14px 'Roboto';
    width: 216px;
    height: 49px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FF583E;
}

.btnImg{
    padding-left: 5px;
}

.mainImg{
   display: flex;
    justify-content: center;
}

