.novelties{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.noveltiesMenu{
    display: flex;
}

.noveltiesMenu h2{
    font: normal 900 25px 'Roboto';
    color: #254F4C;
    display: flex;
    align-self: center;
    margin-right: 164px;
}

.novelties ul{
    display: flex;
    gap: 36px;
    list-style-type: none;
    font: normal 400 16px 'Roboto';
    color: #1D3130;
    align-self: center;
}


.noveltiesCard{
    width: 214px;
    height: 291px;
    padding: 40px 25px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #2B4241;
    background: #2B4241;
    border-radius: 40px;
}

.noveltiesCard img{
    margin: -112px 25px -1px 5px;
}

.noveltiesCardContent h3{
    font: normal 700 20px 'Roboto';
    line-height: 23px;
    color: #FFFFFF;
}

.noveltiesCardDesc{
    font: normal 400 14px 'Roboto';
    color: #FFFFFF;
}

.noveltiesCardPrice{
    font: normal 700 20px 'Roboto';
    line-height: 23px;
    color: #FFFFFF;
    margin: 0;
}

.noveltiesCardContent span{
    color:  #FF583E;
    font-size: 32px;
}

.noveltiesCardContent b{
    font: normal 400 18px 'Roboto';
    line-height: 18px;
    color: #FFFFFF;
    position: relative;
    bottom: 5px;
}

.noveltiesCardBtn{
    border: none;
    background-color: transparent;
    color:  #FF583E;
    font-size: 32px;
}

.noveltiesCardCart{
    width: 200px;
    height: 48.3px;
    background: #FF583E;
    border-radius: 40px;
    border: 1px solid #FF583E;
    color: #FFFFFF;
    font: normal 700 14px 'Roboto';
    text-transform: uppercase;
}