.reviewsBlock h2{
    font: normal 900 25px 'Roboto';
    line-height: 29px;
    display: flex;
    justify-content: center;
    margin-right: 950px;
    color: #254F4C;
}

.reviewsCardContent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.border{

}

.borderContent{
    text-align: center;
    padding: 25px;
    width: 260px;
    height: 300px;
    background-image: url("../../images/reviewsBorder.svg");
    background-repeat: no-repeat;
}

h3{
    font-size: 1rem;
}

.borderContent h3{
    font: normal 400 14px 'Roboto';
    color: #3B7976;
}

.borderContent p{
    font: normal 400 14px 'Roboto';
    color: #061817;
}

.borderContent span{
    font: normal 300 14px 'Roboto';
    color: #3B7976;
}