.cartTitle h2{
    font: normal 700 50px 'Roboto';
    line-height: 110%;
    text-align: center;
    color: #254F4C;
    margin-top: 60px;
}

.cartTitle h3{
    font: normal 600 20px 'Roboto';
    text-align: center;
    color: #254F4C;
}

.productTitle{
    display: flex;
    justify-content: center;
    gap: 230px;
}

.productTitle p{
    font: normal 16px 'Roboto';
    color: #1D3130;
}

.Line{
    color: #3B7976;
    width: 1150px;
    border: 1px solid #3B7976;
    background-color: #3B7976;
}

.productCart{
    display: flex;
    font: normal 20px 'Roboto';
    color: #254F4C;
    justify-content: center;
    gap: 90px;
    align-items: center;
    margin-right: 90px;
}

.productCartImg{
    width: 100px;
}

.productCart span{
    color:  #FF583E;
    font-size: 28px;
}

.productCart button{
    border: none;
    background-color: transparent;
}

.productCart input{
    border: 1px solid #bdbcbc;
    border-radius: 5px;
    width: 120px;
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    text-align: left;
    padding-left: 15px;
    margin-right: 100px;
}

.productCartTotal{
    margin-left: 70px;
    display: flex;
    align-items: center;
}

.cartTotal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 700px;
}

.cartTotal h3{
    font: normal 30px 'Roboto';
    color: #254F4C;
}

.linkTotal a{
    font: normal 20px 'Roboto';
    color: #FF583E;
    display: flex;
    justify-content: center;
    margin-right: 900px;
}

.cartTotal button{
    font: normal 20px 'Roboto';
    width: 300px;
    height: 48px;
    color: #FFFFFF;
    background-color: #FF583E;
    border: 1px solid #FF583E;
    border-radius: 5px;
    transition: 0.3s;
}

.cartTotal button:hover{
    transition: 0.3s;
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px black;
}